<h1>TASK - 2</h1>
<h2>Calculate summary statistics</h2>
<hr>
<h3>Calculate summary statistics (mean, median, mode, standard deviation) for a dataset</h3>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("train.csv")
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

<hr>
<h3>Summary Statistics</h3>

In [6]:
print("AGE : ")
print("Mean=",df["Age"].mean())
print("Median=",df["Age"].median())
print("Mode=",df["Age"].mode())
print("Standard Deviation=",df["Age"].std())

AGE :
Mean= 29.69911764705882
Mean= 28.0
Mean= 0    24.0
Name: Age, dtype: float64
Mean= 14.526497332334044

In [7]:
print("Fare : ")
print("Mean=",df["Fare"].mean())
print("Median=",df["Fare"].median())
print("Mode=",df["Fare"].mode())
print("Standard Deviation=",df["Fare"].std())

Fare :
Mean= 32.204207968574636
Median= 14.4542
Mode= 0    8.05
Name: Fare, dtype: float64
Standard Deviation= 49.693428597180905

In [15]:
print("Survived : ")
print("Mode=",df["Survived"].mode()[0])

Survived :
Mode= 0

In [14]:
print("Sex : ")
print("Mode=",df["Sex"].mode()[0])

Sex :
Mode= male

In [17]:
print("Pclass : ")
print("Mode=",df["Pclass"].mode()[0])

Pclass :
Mode= 3

In [18]:
print("Embarked : ")
print("Mode=",df["Embarked"].mode()[0])

Embarked :
Mode= S

In [19]:
print("SibSp : ")
print("Mode=",df["SibSp"].mode()[0])

SibSp :
Mode= 0

In [20]:
print("Parch : ")
print("Mode=",df["Parch"].mode()[0])

Parch :
Mode= 0

In [25]:
print("Cabin : ")
print("Mode=",df["Cabin"].mode()[0])

Cabin :
Mode= B96 B98